{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="logo-header container">
    <div class="logo-companyname">
            {{widget('logo', 'sitelogo', {"defaultlogo": asset('images/logo.jpg')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        <div class="header-extendednavigation">
            {{widget('extendednavigation', 'extendednavigation', {})|raw}}
        </div>
    </div>
</div>

{{widget('line', 'footerline', {
    'thickness': '1',
    'length': '100',
    'padding': '10',
    'align': 'center'
})|raw}}

<div class="bk-pt-default">
	
	<!-- Container -->
	<div class="container">
	
		<!-- Page Content -->
		<section class="template-content">
	
			<!-- Template Widgets -->
			
			<!-- End Template Widgets -->
	
			<!-- Main Widet Zone -->
		   	{{zone('main')|raw}}
	
		</section>
		<!-- End Page Content -->
	
	</div>
	<!-- End Container -->

</div>
<!-- End bk-pt-default -->

{% include "includes/footer.twig" %}

{% endblock %}
