{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

    <div class="logo-header container">
        <div class="logo-companyname">
                {{widget('logo', 'sitelogo', {"defaultlogo": asset('images/logo.jpg')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            <div class="header-extendednavigation">
                {{widget('extendednavigation', 'extendednavigation', {})|raw}}
            </div>
        </div>
    </div>

<div class="header-line">
    {{widget('line', 'footerline', {})|raw}}
</div>

<!-- Container -->
<div class="container">
    
    <div class="homepage-slideshow">
    	{{widget('responsiveslideshow', 'slideshow', {
    	    'duration':'3',
    	    'transSpeed': '1000',
    	    'transType': 'fade',
    	    'showButtons': false,
    	    'showBullets': true,
    	    'allowPause': false,
    	    'allowLoop': true,
    	    'images':[
    	      {
    	        'imageHeight':'400',
    	        'imageWidth':'1000',
    	        'url':asset('/images/slideshow/slideshow-1.jpg'),
    	        'title':'First slide title',
    	        'description': 'First slide description'
    	      },
    	      {
    	        'imageHeight':'400',
    	        'imageWidth':'1000',
    	        'url':asset('/images/slideshow/slideshow-2.jpg'),
    	        'title':'Second slide title',
    	        'description': 'Second slide description'
    	      },
    	      {
    	        'imageHeight':'400',
    	        'imageWidth':'1000',
    	        'url':asset('/images/slideshow/slideshow-3.jpg'),
    	        'title':'Third slide title',
    	        'description': 'Third slide description'
    	      }
    	    ]
    	})|raw}}
    </div>

    <div class="feature-container clearfix">
            {{widget('feature', 'feature-left', {
                "header": " ",
                "strapline": " ",
                "defaultBgImg": asset('images/feature-img1.jpg'),
                "positionTopPercentage": "50",
                "showBtn": false,
                "buttonText": ""
            })|raw}}
            {{widget('feature', 'feature-right', {
                "header": "profile",
                "strapline": "profile",
                "defaultBgImg": asset('images/feature-img2.jpg'),
                "positionTopPercentage": "50",
                "showBtn": true,
                "buttonText": "Lorem Ipsum"
            })|raw}}
    </div>

	<!-- Page Content -->
	<section class="template-content">

		<!-- Main Widet Zone -->
	   	{{zone('main')|raw}}

	</section>
	<!-- End Page Content -->

</div>
<!-- End Container -->

{% include "includes/footer.twig" %}

{% endblock %}
